*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.primary{
    display: flex;
    justify-content: center;
    gap: 20%;
    background-color: rgba(0, 0, 0, 0.244);
    padding: 12px;
    
}
.primary h5{
    font-size: 18px;
    font-weight: bold;
     color: whitesmoke;
}
nav ul{
    list-style: none;
    display: flex;
   gap: 15px;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
      font-family: Poppins;
      color: whitesmoke;
}
.shift{
    flex-direction: column;
    display: none;
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    line-height: 35px;
    border-radius: 15px;
}
.dropdown:hover .shift{
    display: block;
}

 i:hover{
    transform: rotate(180deg);
  
}
i{
    font-size: 10px;
      transform: 0.1 ease;
}
.shift  li a{
    color: black;
}
.shift li a:hover{
    color: blue;
}
.primary input{
    /* width: 60%; */
    padding: 5px;
    border: none;
    font-size: 12px;
    border-radius: 5px;
}
.primary button{
    /* width: 100px; */
    padding: 5px;
    border: none;
    border-radius: 5px;

}
.hero{
    background-image: url(download.jpg);
}

 